extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Giles Lewey

        p Front-End Developer


        .about-bio

          p “Catching other people’s mistakes became old hat, so I decided to make some of my own.”

After years in quality assurance, editorial, and design—where I helped polish everything from IPO filings to large-scale healthcare websites—I transitioned into full-stack JavaScript development. Now I bring a rare blend of QA precision, creative design sense, and growing front-end engineering skills. I’m looking for opportunities where I can contribute immediately while continuing to level up in modern development environments.
          p “Catching other people’s mistakes became old hat, so I decided to make some of my own.”

          p
            | After years in quality assurance, editorial, and design—where I helped polish everything from IPO filings to large-scale healthcare websites—I transitioned into full-stack JavaScript development. Now I bring a rare blend of QA precision, creative design sense, and growing front-end engineering skills. I’m looking for opportunities where I can contribute immediately while continuing to level up in modern development environments.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li React
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 646.334.9544
          li gileslewey@gmail.com


        //- a.btn-link(href='') LinkedIn
        //- a.btn-link(href='') GitHub
        //- a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back