extends layout.pug

block content

  h1 Art Gallery
  article.portfolio-project-thumbs
    .projects-box.box.grid
      each art in arts
        if art.image_urls && art.image_urls.length
          each url in art.image_urls
            img(src=url, alt="artwork")

//-   article.portfolio-project-thumbs
//-     .projects-box.box.grid

//-       each art in arts 
//-         .cell
//-               a(href=`/art/${art.id}`)
//-                 img.thumbnail(src=`${art.image_urls[0]}`, alt=`${art.art_name}`)


