extends layout.pug

    //- article.portfolio-project-thumbs
    //-   .projects-box.box.grid
    //-     each design in designs
    //-       .cell
    //-         a(href=`/design/${design.id}`)
    //-         img.thumbnail(src=`${design.image_urls[0]}`, alt=`${design.project_name}`)
    //-         h5 #{design.project_name}