extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p Here are some of the projects I have been working on. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
      
        //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text
      each project in projects
        .cell
          a(href=`/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5 #{project.project_name}


