extends layout.pug

block prints

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h2 #{print_name}


    .project-img-box.box

      img.art-img(src=`${image_urls[1]}`, alt='')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
